In [1]:
l = [2,4,2,3]

In [2]:
l

[2, 4, 2, 3]

In [3]:
d1 = {"name":"aman", "age": 25}

In [4]:
d2 = {"Lname": "Anshu", "ahe":21}

In [6]:
d1.update(d2)

In [7]:
d1

{'name': 'aman', 'age': 25, 'Lname': 'Anshu', 'ahe': 21}

In [10]:
for i in enumerate(d1):
    print(i)

(0, 'name')
(1, 'age')
(2, 'Lname')
(3, 'ahe')

In [13]:
x = {}

In [14]:
type(x)

dict

In [15]:
d1 = {"Hello"}

In [16]:
type(d1
    )

set

In [17]:
d1 = {"name": "aman", "age" : 54}

In [18]:
d1

{'name': 'aman', 'age': 54}

In [19]:
type(d1)

dict

In [20]:
d1["name"]

'aman'

In [21]:
d1 = {"name": "aman", "person" : {"Lname" : "kumar", "address": "JP nager"}, "Road": "jp"}

In [22]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp'}

In [23]:
d1["person"]["Lname"]

'kumar'

In [31]:
d1 = {"name": "aman", "person" : {"Lname" : "kumar", "address": "JP nager"}, "Road": "jp", "value": [2,3,4,5,6], "tuple": (2,33,4)}

In [32]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4)}

In [33]:
type(d1["value"])

list

In [35]:
d1["value"][3]

5

In [36]:
d1["person"]

{'Lname': 'kumar', 'address': 'JP nager'}

In [37]:
d2 = {"hello": "Good mornig"}

In [38]:
d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [39]:
d1.update(d2)

In [40]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4),
 'hello': 'Good mornig'}

In [41]:
d1["public"] = 5678

In [42]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4),
 'hello': 'Good mornig',
 'public': 5678}

In [43]:
d1.keys()

dict_keys(['name', 'person', 'Road', 'value', 'tuple', 'hello', 'public'])

In [44]:
d1.values()

dict_values(['aman', {'Lname': 'kumar', 'address': 'JP nager'}, 'jp', [2, 3, 4, 5, 6], (2, 33, 4), 'Good mornig', 5678])

In [45]:
d1.items()

dict_items([('name', 'aman'), ('person', {'Lname': 'kumar', 'address': 'JP nager'}), ('Road', 'jp'), ('value', [2, 3, 4, 5, 6]), ('tuple', (2, 33, 4)), ('hello', 'Good mornig'), ('public', 5678)])

In [46]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4),
 'hello': 'Good mornig',
 'public': 5678}

In [47]:
"aman" in d1

False

In [48]:
"hello" in d1

True

In [52]:
for i in d1.keys():
    print(i)

name
person
Road
value
tuple
hello
public

In [53]:
for i in d1.values():
    print(i)

aman
{'Lname': 'kumar', 'address': 'JP nager'}
jp
[2, 3, 4, 5, 6]
(2, 33, 4)
Good mornig
5678

In [54]:
for i in d1.items():
    print(i)

('name', 'aman')
('person', {'Lname': 'kumar', 'address': 'JP nager'})
('Road', 'jp')
('value', [2, 3, 4, 5, 6])
('tuple', (2, 33, 4))
('hello', 'Good mornig')
('public', 5678)

In [55]:
d1.keys()

dict_keys(['name', 'person', 'Road', 'value', 'tuple', 'hello', 'public'])

In [56]:
d1.values()

dict_values(['aman', {'Lname': 'kumar', 'address': 'JP nager'}, 'jp', [2, 3, 4, 5, 6], (2, 33, 4), 'Good mornig', 5678])

In [57]:
d1.items()

dict_items([('name', 'aman'), ('person', {'Lname': 'kumar', 'address': 'JP nager'}), ('Road', 'jp'), ('value', [2, 3, 4, 5, 6]), ('tuple', (2, 33, 4)), ('hello', 'Good mornig'), ('public', 5678)])

In [59]:
for i in d1.keys():
    print(type(d1[i]))

<class 'str'>
<class 'dict'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'str'>
<class 'int'>

In [61]:
for i in d1:
    print(type(d1[i]))

<class 'str'>
<class 'dict'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'str'>
<class 'int'>

In [62]:
d1.items()

dict_items([('name', 'aman'), ('person', {'Lname': 'kumar', 'address': 'JP nager'}), ('Road', 'jp'), ('value', [2, 3, 4, 5, 6]), ('tuple', (2, 33, 4)), ('hello', 'Good mornig'), ('public', 5678)])

In [65]:
for i in d1.items():
    print(i[1])

aman
{'Lname': 'kumar', 'address': 'JP nager'}
jp
[2, 3, 4, 5, 6]
(2, 33, 4)
Good mornig
5678

In [66]:
d3 = {[2,2,2]:"aman"}

TypeError: unhashable type: 'list'

In [67]:
d3 = {(2,2,2,2): "aman"}

In [68]:
d3

{(2, 2, 2, 2): 'aman'}

In [69]:
d3[(2,2,2,2)]

'aman'

In [70]:
d3 = {{"person": 24}:"aman", "hello": "wo"}

TypeError: unhashable type: 'dict'

In [71]:
d2

{'hello': 'Good mornig'}

In [72]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4),
 'hello': 'Good mornig',
 'public': 5678}

In [73]:
d3

{(2, 2, 2, 2): 'aman'}

In [74]:
len(d1)

7

In [75]:
len(d2)

1

In [76]:
e = {11:{23,3,2,2,2}}

In [77]:
e

{11: {2, 3, 23}}

In [78]:
e[11]

{2, 3, 23}

In [79]:
type(e[11])

set

In [80]:
(e[11])

{2, 3, 23}

In [81]:
e[11].remove(2)

In [82]:
e[11]

{3, 23}

In [87]:
a = input("Enter a paragraph")
b = a.split()
b

Enter a paragraph enter a paragraph India, officially the Republic of India,[j][20] is a country in South Asia. It is the seventh-largest country by area; the most populous country since 2023;[21] and, since its independence in 1947, the world's most populous democracy.

['enter',
 'a',
 'paragraph',
 'India,',
 'officially',
 'the',
 'Republic',
 'of',
 'India,[j][20]',
 'is',
 'a',
 'country',
 'in',
 'South',
 'Asia.',
 'It',
 'is',
 'the',
 'seventh-largest',
 'country',
 'by',
 'area;',
 'the',
 'most',
 'populous',
 'country',
 'since',
 '2023;[21]',
 'and,',
 'since',
 'its',
 'independence',
 'in',
 '1947,',
 'the',
 "world's",
 'most',
 'populous',
 'democracy.']

In [88]:
type(b)

list

In [89]:
b

['enter',
 'a',
 'paragraph',
 'India,',
 'officially',
 'the',
 'Republic',
 'of',
 'India,[j][20]',
 'is',
 'a',
 'country',
 'in',
 'South',
 'Asia.',
 'It',
 'is',
 'the',
 'seventh-largest',
 'country',
 'by',
 'area;',
 'the',
 'most',
 'populous',
 'country',
 'since',
 '2023;[21]',
 'and,',
 'since',
 'its',
 'independence',
 'in',
 '1947,',
 'the',
 "world's",
 'most',
 'populous',
 'democracy.']

In [90]:
c = set(b)

In [91]:
c

{'1947,',
 '2023;[21]',
 'Asia.',
 'India,',
 'India,[j][20]',
 'It',
 'Republic',
 'South',
 'a',
 'and,',
 'area;',
 'by',
 'country',
 'democracy.',
 'enter',
 'in',
 'independence',
 'is',
 'its',
 'most',
 'of',
 'officially',
 'paragraph',
 'populous',
 'seventh-largest',
 'since',
 'the',
 "world's"}

In [92]:
d = list(c)

In [93]:
d

['South',
 'It',
 'seventh-largest',
 'democracy.',
 'area;',
 'enter',
 'paragraph',
 'Asia.',
 'India,',
 'officially',
 'independence',
 '1947,',
 'in',
 'is',
 'country',
 'a',
 '2023;[21]',
 'by',
 'India,[j][20]',
 'most',
 'populous',
 'and,',
 'its',
 'since',
 'the',
 'Republic',
 'of',
 "world's"]

In [96]:
e = dict.fromkeys(d,"aman")

In [97]:
e

{'South': 'aman',
 'It': 'aman',
 'seventh-largest': 'aman',
 'democracy.': 'aman',
 'area;': 'aman',
 'enter': 'aman',
 'paragraph': 'aman',
 'Asia.': 'aman',
 'India,': 'aman',
 'officially': 'aman',
 'independence': 'aman',
 '1947,': 'aman',
 'in': 'aman',
 'is': 'aman',
 'country': 'aman',
 'a': 'aman',
 '2023;[21]': 'aman',
 'by': 'aman',
 'India,[j][20]': 'aman',
 'most': 'aman',
 'populous': 'aman',
 'and,': 'aman',
 'its': 'aman',
 'since': 'aman',
 'the': 'aman',
 'Republic': 'aman',
 'of': 'aman',
 "world's": 'aman'}

In [98]:
e = dict.fromkeys(d,"25")

In [99]:
e

{'South': '25',
 'It': '25',
 'seventh-largest': '25',
 'democracy.': '25',
 'area;': '25',
 'enter': '25',
 'paragraph': '25',
 'Asia.': '25',
 'India,': '25',
 'officially': '25',
 'independence': '25',
 '1947,': '25',
 'in': '25',
 'is': '25',
 'country': '25',
 'a': '25',
 '2023;[21]': '25',
 'by': '25',
 'India,[j][20]': '25',
 'most': '25',
 'populous': '25',
 'and,': '25',
 'its': '25',
 'since': '25',
 'the': '25',
 'Republic': '25',
 'of': '25',
 "world's": '25'}

In [101]:
type(e.keys())

dict_keys

In [102]:
e.values()

dict_values(['25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25', '25'])

In [104]:
list(e.values())

['25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25',
 '25']

In [105]:
tuple(e.keys())

('South',
 'It',
 'seventh-largest',
 'democracy.',
 'area;',
 'enter',
 'paragraph',
 'Asia.',
 'India,',
 'officially',
 'independence',
 '1947,',
 'in',
 'is',
 'country',
 'a',
 '2023;[21]',
 'by',
 'India,[j][20]',
 'most',
 'populous',
 'and,',
 'its',
 'since',
 'the',
 'Republic',
 'of',
 "world's")

In [108]:
a = (2,3,4,5,6,7,8,9)
b = dict.fromkeys(a,2)

In [109]:
b

{2: 2, 3: 2, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [115]:
for i in d1:
    print("print a key:", i , " ; value wise : ", d1[i])

print a key: name  ; value wise :  aman
print a key: person  ; value wise :  {'Lname': 'kumar', 'address': 'JP nager'}
print a key: Road  ; value wise :  jp
print a key: value  ; value wise :  [2, 3, 4, 5, 6]
print a key: tuple  ; value wise :  (2, 33, 4)
print a key: hello  ; value wise :  Good mornig
print a key: public  ; value wise :  5678

In [116]:
"hello" in d1

True

In [117]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4),
 'hello': 'Good mornig',
 'public': 5678}

In [6]:
d1 = {'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4),
 'hello': 'Good mornig',
 'public': 5678, 'date': 2025}

In [31]:
for i in d1:
    if i == "date":
        if d1[i] > 2021:
            print("year is fine")
        else:
            d1[i] = 2022

year is fine

In [22]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4),
 'hello': 'Good mornig',
 'public': 5678,
 'date': 2025}

In [18]:
d = {"course":"ineuron", "subject": "full stack development"}

In [19]:
type(d)

dict

In [20]:
for i in d:
    print(i)

course
subject

In [26]:
for i in d1:
    if i == "date":
        if d1[i] >2028:
            print("year is fine")
        else:
            d[i] = 2090

In [27]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4),
 'hello': 'Good mornig',
 'public': 5678,
 'date': 2025}

In [36]:
for i in d1:
    if i == "date":
        if d1[i] >2028:
            print("year is fine")
        else:
            print("Year is not fine")
            d[i] = 2090

Year is not fine

In [39]:
for i in d1:
    if i == "date":
        if d1[i] > 2021:
            print("year is fine")
        else:
            d1[i] = 2022

year is fine

In [38]:
d1

{'name': 'aman',
 'person': {'Lname': 'kumar', 'address': 'JP nager'},
 'Road': 'jp',
 'value': [2, 3, 4, 5, 6],
 'tuple': (2, 33, 4),
 'hello': 'Good mornig',
 'public': 5678,
 'date': 2025}

In [40]:
my_dict = {}
for i in range(10)

SyntaxError: expected ':' (2520659712.py, line 2)